<!-- Introduction -->
<div class="col-xxl-8 px-4 py-5 intro_section">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img [src]="'/assets/images/landing.png'" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes"
                width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3 intro_title">Vivez le monde en 3D !</h1>
            <p class="lead">
                Découvrez l'avenir de la fabrication avec {{ siteName }}. Nous sommes passionnés par la création,
                l'innovation et la réalisation de vos idées les plus audacieuses en trois dimensions. Grâce à notre
                technologie de pointe d'impression 3D, transformez vos concepts en objets tangibles avec une précision
                exceptionnelle.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a class="btn btn-primary btn-lg px-4 me-md-2" href="/contact">Obtenez un devis</a>
            </div>
        </div>
    </div>
</div>

<!-- Avantages -->
<div class="container mt-5 mb-5">
    <h2>Pourquoi choisir {{ siteName }} ?</h2>
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <img [src]="'/assets/images/avantage01.jpg'" class="img-fluid">
                    <h3 class="card-title pricing-card-title">Personnalisation Sans Limite</h3>
                    <p>
                        Exprimez votre créativité sans limites. Choisissez parmi une vaste gamme de matériaux, de
                        couleurs et de finitions pour donner vie à vos projets de manière unique.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <img [src]="'/assets/images/avantage02.jpg'" class="img-fluid">
                    <h3 class="card-title pricing-card-title">Qualité Inégalée</h3>
                    <p>
                        Notre engagement envers la qualité se reflète dans chaque détail. Profitez de résultats
                        exceptionnels grâce à notre parc de machines de pointe et à notre équipe d'experts dévoués.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-body">
                    <img [src]="'/assets/images/avantage03.jpg'" class="img-fluid">
                    <h3 class="card-title pricing-card-title">Processus Simplifié</h3>
                    <p>
                        Notre plateforme conviviale rend l'impression 3D accessible à tous. Téléchargez vos fichiers,
                        visualisez vos modèles en 3D et lancez la production en quelques clics seulement.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Nos Services -->
<div class="container mb-5">
    <h2>Nos Services</h2>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Impression 3D Professionnelle</h2>
                <p>
                    Des prototypes aux produits finaux, nous offrons des solutions d'impression 3D adaptées à vos
                    besoins professionnels.<br>
                    Que ce soit pour des cadeaux uniques, des décorations personnalisées ou des projets artistiques,
                    nous réalisons vos idées avec précision.
                </p>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Conception 3D</h2>
                <p>
                    Vous avez une idée, mais pas de fichier 3D ? Notre équipe de designers experts peut donner vie à vos
                    concepts avec des services de conception 3D sur mesure.
                </p>
            </div>
        </div>
        <div class="card mt-3 ml-5 mr-5">
            <div class="card-body">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Prêt à donner vie à vos idées ?</h1>
                    <p class="col-md-8 fs-4">
                        Rejoignez la révolution de l'impression 3D avec {{ siteName }}. Explorez notre gamme de services
                        et découvrez comment nous pouvons concrétiser vos projets les plus ambitieux.
                    </p>
                    <a class="btn btn-primary btn-lg" href="/contact">Commencez dès aujourd'hui !</a>
                </div>
            </div>
        </div>
    </div>
</div>